# Android/IntelliJ
*.iml
.gradle
/local.properties
/.idea/
.DS_Store
/build
/*/build
captures
.externalNativeBuild
.cxx

# Logs
*.log

# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Server State
world_state.json

# OS Files
Thumbs.db
ehthumbs.db
Desktop.ini

# VS Code
.vscode/
